.service-card {
	display: flex;
	flex-direction: column;
	align-items: center;
	color: black;
	background-color: white;
	border-radius: 14px;

	box-shadow: 0 8px 25px rgba(0, 0, 0, 0.5);
}

.service-card img:hover {
	transform: translateY(-6px);
	box-shadow: 0 18px 45px rgba(0, 0, 0, 0.15);
}

.service-card img {
	width: 100%;
	aspect-ratio: 16 / 9;
	object-fit: cover;
	border-radius: 10px;
	transition: transform 0.1s ease, box-shadow 0.2s ease;
}

.service-card h3 {
	margin-top: 1rem;
}

.service-card p {
	color: #555;
	line-height: 1.6;
	margin: 1.5rem;
	text-align: center;
	color: black;
}
