.homepage-container {
	background-color: white;
	height: 200vh;
	width: 100vw;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.homepage-image-container {
	display: flex;
	align-items: center;
	flex-direction: column;
	flex-wrap: wrap;
	width: 100%;
	height: 40%;
	filter: brightness(0.8);
	background-image: url("/lightbulb-pic.jpg");
}

.homepage-services {
	display: flex;
	width: 100%;
	height: 30%;
	background-color: green;
	justify-content: center;
}

.homepage-h1 {
	font-size: 5em;
}
