.homepage-services-container {
	width: 100%;
	padding: 4rem 0rem;
	border-top: 1px solid black;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.homepage-h1 {
	font-size: clamp(2.5rem, 4vw, 3.5rem);
	margin-bottom: 3rem;
}

.homepage-services {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
	gap: 2rem;
	width: 100%;
	max-width: 1200px;
}
